.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgb(203, 198, 192);
  display: flex;
  flex-direction: column;
}

.App-container {
  padding-top: 10%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=text] {
  color: #34282c;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: calc(1rem + 2vmin);
  border-radius: 3px;
  width: 80%;
  max-width: 650px;
  border: 2px solid #43484b;
  background-color: #181a1b;
  color: rgb(203, 198, 192);
}

input[type=text]:focus {
  border: 2px solid #8080ff;
}

input[type=text].error {
  border: 2px solid #e06c75;
}

.tex-border {
  border: 2px solid #a0a0a0;
  width: 100%;
  padding: 10px;
  border-radius: 3px
}

.tex-container{
  height: calc(80px + 6vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.external-links{
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 40px;
  align-items: center;
  color: rgb(203, 198, 192);
  text-decoration: none;
}

.error-hint {
  margin-left: 15px;
  margin-right: 15px;
}

a:hover {
  color: #8080ff;
}

a:hover > svg {
  fill: #8080ff;
}
